
section {
    width: 600px;
    height:600px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

div {
    width: 100px;
    height: 100px;
}

.flex-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box1 {
    background-color: red;
    transition: all 700ms ease-in-out;
    transform-origin: top left;
}

.box2 {
    background-color: yellow;
    transition: all 700ms ease-in-out;
    transform-origin: top right;
}

.box3 {
    background-color: blue;
    transition: all 700ms ease-in-out;
    transform-origin: bottom left;
}

.box4 {
    background-color: green;
    transition: all 700ms ease-in-out;
    transform-origin: bottom right;
}

section:hover .box1{
    transform: rotate(90deg);
}

section:hover .box2{
    transform: rotate(90deg);
}

section:hover .box3{
    transform: rotate(90deg);
}

section:hover .box4{
    transform: rotate(90deg);
}